@page
@model Camera1Model
@{
    ViewData["Title"] = "Camera1 page";

    //var imageUrls = new List<;
}

<h1>
    Viewing the images from Camera 1
</h1>

<p>
    Images Analysed: @Model.ImageCount
    Animal Count: @Model.AnimalCount
    Deer Count: @Model.DeerCount
</p>

<div class="text-center">
    <img src="~/images/Understory.jpg" height="500" width="600"/>
</div>

<div class="wrapper" style="margin-top: -500px; float: right">
    <div class="panel">
        <img src="~/images/Understory.jpg" height="200" width="200" />
    </div>
    <div class="panel">
        <img src="~/images/Understory.jpg" height="200" width="200" />
    </div>
    <div class="panel">
        <img src="~/images/Understory.jpg" height="200" width="200" />
    </div>
</div>