@page
@model Camera1Model
@{
    ViewData["Title"] = "Camera1 page";

    //var imageUrls = new List<;
}

<h1>
    Viewing the images from Camera 1
</h1>

<p>
    Option to implement time-lapse option
</p>

<div class="text-center">
    <img src="~/images/Understory.jpg" height="500" width="600"/>
</div>

<div class="wrapper">
    <div class="panel">
        <img src="~/images/Understory.jpg" height="200" width="200" />
    </div>
    <div class="panel">
        <img src="~/images/Understory.jpg" height="200" width="200" />
    </div>
    <div class="panel">
        <img src="~/images/Understory.jpg" height="200" width="200" />
    </div>
</div>