@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    var objects = new List<string>();


}

<div class="container-fluid">
    <h2 class="h2">Dashboard</h2>
    <div class="row">
        <div class="col-md-8">
            <h4>Raukumara Map</h4>
            <div class="text-center">
                <img src="https://maps.googleapis.com/maps/api/staticmap?center=RaukumaraForestPark&zoom=10.8&size=1000x700&scale=1.2&markers=size:tiny%7Clabel:Camera1%7C-37.9752,177.9447&markers=size:tiny%7Clabel:Camera1%7C-37.9300,177.8895&markers=size:tiny%7Clabel:Camera1%7C-37.8794,178.0373&markers=size:tiny%7Clabel:Camera1%7C-37.6899,178.2055&maptype=roadmap&key=AIzaSyBAQe_5MKstfeuWU1wnb-ar1ngVzVKDHQs" />
            </div>
        </div>
        <div class="col-md-4">
            <h4>Latest Forest Images</h4>
            <table>
                <tr>
                    <td>
                        <img src="~/images/deer01.jpg" width="150" height="150" class="rounded" />
                        <br />
                        <span>Location: </span><a class="nav-link" href="/camera1">
                            <span data-feather="file-text"></span>
                            Camera 01
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/images/deer02.jpg" width="150" height="150" class="rounded" />
                        <br />
                        <span>Location: </span><a class="nav-link" href="/camera3">
                            <span data-feather="file-text"></span>
                            Camera 03
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/images/deer03.jpg" width="150" height="150" class="rounded" />
                        <br />
                        <span>Location: </span><a class="nav-link" href="/camera2">
                            <span data-feather="file-text"></span>
                            Camera 02
                        </a>
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>


