@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
    <h2 class="h2">Dashboard</h2>
    <div class="row">
        <div class="col-md-8">
            <h4>Raukumara Map</h4>
            <p>todo: add the google map</p>

            <table class="table">
                <caption>Top 5 Marae </caption>
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Points</th>
                        <th scope="col">Rank</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Marae 1</td>
                        <td>96</td>
                        <td>01</td>
                    </tr>
                    <tr>
                        <td>Marae 2</td>
                        <td>90</td>
                        <td>02</td>
                    </tr>
                    <tr>
                        <td>Marae 3</td>
                        <td>80</td>
                        <td>03</td>
                    </tr>
                    <tr>
                        <td>Marae 4</td>
                        <td>70</td>
                        <td>04</td>
                    </tr>
                    <tr>
                        <td>Marae 5</td>
                        <td>70</td>
                        <td>05</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h4>Latest Forest Images</h4>
            <img src="~/images/deer03.jpg" alt="deer 01" width="200" height="200" class="rounded" />
            <img src="~/images/deer01.jpg" alt="deer 01" width="200" height="200" class="rounded" />
            <img src="~/images/deer02.jpg" alt="deer 01" width="200" height="200" class="rounded" />

            <asp:Button ID="btnclick" runat="server" Text="Click Here" onclick="btnclick_Click()" />
        </div>
    </div>
</div>


