@page
@model GoodIDeer.Pages.MaraeChallengeModel
@{
    ViewData["Title"] = "MaraeChallenge";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2 class="h2">Marae Challenge</h2>

<table class="table">
    <caption>Top 5 Marae </caption>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Points</th>
            <th scope="col">Rank</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Marae 1</td>
            <td>96</td>
            <td>01</td>
        </tr>
        <tr>
            <td>Marae 2</td>
            <td>90</td>
            <td>02</td>
        </tr>
        <tr>
            <td>Marae 3</td>
            <td>80</td>
            <td>03</td>
        </tr>
        <tr>
            <td>Marae 4</td>
            <td>70</td>
            <td>04</td>
        </tr>
        <tr>
            <td>Marae 5</td>
            <td>70</td>
            <td>05</td>
        </tr>
    </tbody>
</table>