<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoodIDeer</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/Assets/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/Assets/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white" style="background-color: black; margin-bottom:0px !important;">
                <div class="navbar-header" style="margin-left: 30px;">

                    <a asp-page="/Index">
                        <img src="~/images/logo_web_transparent.png">
                    </a>
                </div>
                <div class="navbar-collapse collapse" style="color:white;">
                    <span class="navbar-text">
                        Total Deer Count : 10
                    </span>
                    <span class="navbar-text">
                        Killed Count: 00
                    </span>
                </div>
            </nav>

            <nav class="col-md-2 col-2 d-none d-md-block navbar-light sidebar" style="background-color: black !important; min-height: calc(100vh - 50px) !important;">
                <div class="sidebar-sticky" style="margin-top: 10px; margin-left: 20px;">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" style="color:white;" href="/Index">
                                <span data-feather="home"></span>
                                Detection Map <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:white;" href="#">
                                <span data-feather="file"></span>
                                Latest Images
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:white;" href="/MaraeChallenge">
                                <span data-feather="file-text"></span>
                                Marae Challenge
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:white;" href="#">
                                <span data-feather="file-text"></span>
                                Our Forest
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:white;" href="#">
                                <span data-feather="file-text"></span>
                                About US
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Guidances</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" style="color:white;" href="#">
                                <span data-feather="file-text"></span>
                                Hunting Guidances
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:white;" href="#">
                                <span data-feather="file-text"></span>
                                Fire Arms Info
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:white;" href="#">
                                <span data-feather="file-text"></span>
                                Hunting Dates
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4 bg-white">
                @RenderBody()
            </main>
        </div>
    </div>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        <footer>
            <p>&copy; 2019 - GoodIDeer</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
